@media (max-width: 768px) {

  .container {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

    nav{
        display: none;
    }

header .content h1 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
  }

  header .image {
    display: none;
  }

  header .image::before {
    display: none;
  }




}